body {
  margin: 0;
  width: 100%;
  font-family: arial;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

      h1, h2 {
        font-family: 'Permanent Marker', cursive;
        font-weight: lighter;
        margin: 0;
      }

      h2 {
        font-size: 40px;
        margin: 0;
      }

      h3, p, a {
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0;
      }

.header {
  height: 25vh;
  width: 100%;
  background-color: rgb(35, 35, 35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

        .logo {
          height: 75%;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          box-sizing: border-box;
        }

        .logo h1 {
          font-size: 120px;
          color: rgb(250, 90, 115);
          margin: 3% 0 0 3%;
          font-family: 'Covered By Your Grace', cursive;
        }

        .nav {
          height: 25%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }

        .header img {
          height: 130px;
        }

        .header a {
          text-decoration: none;
          font-size: 20px;
          color: #FAFAFA;
          margin: 0 2.5%;
        }

        #actor {
          color: red;
        }

        .header a:hover {
          color: red;
        }


.scroll-bar {
  position: fixed;
  top: 40vh;
  left: 95%;
  height: 20vh;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

        .scroll {
          display: block;
          height: 8px;
          width: 8px;
          box-sizing: border-box;
          border-radius: 50%;
          background-color: black;
        }


.about {
  height: 60vh;
  width: 100%;
  background-image: url('./public/lollipop.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

        #about-box {
          height: 100%;
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          padding: 2% 0;
        }

        .about h2 {
          display: block;
          margin: 0;
          height: 100px;
          width: 30%;
          line-height: 100px;
          background-color: rgba(255, 255, 255, .6);
          text-align: center;
        }

        #about-text-box {
          height: 200px;
          width: 60%;
          background-color: rgba(255, 255, 255, .6);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }

        .about p {
          font-size: 30px;
          margin: 5%;
        }


.photos {
  height: 170vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

        #photo-text {
          width: 80%;
          height: 20vh;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          z-index: 1;
        }

        .photos h2 {
          display: block;
          height: 15vh;
          width: 40%;
          background-color: rgba(250, 70, 90, .8);
          color: #FAFAFA;
          text-align: center;
          line-height: 15vh;
        }

        .photo-box {
          position: absolute;
          top: 85vh;
          height: 170vh;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
        }

        .photo-box img {
          height: 33.33%;
          width: 33.33%;
          margin: 0;
        }


.resume {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./public/fishnets.png');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: hotpink;
}

        .resume h2 {
          font-size: 70px;
          margin: -2% 0 0 0;
        }

        .resume-box {
          height: 50%;
          width: 30%;
          background-color: rgba(245, 245, 245, .7);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }


.videos {
  height: 175vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
  color: white;
}

        .videos h2 {
          display: block;
          height: 15vh;
          width: 95%;
          background-color: rgba(66, 244, 235, .6 );
          text-align: left;
          line-height: 15vh;
          padding: 0 0 0 5%;
        }

        .video-box {
          height: 150vh;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }

        .video-box iframe {
          box-sizing: border-box;
          border: 1px solid black;
        }


.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

        .reviews h2 {
          position: absolute;
          margin-top: -100vh;
          left: 60%;
          display: block;
          height: 10vh;
          width: 40%;
          text-align: center;
          line-height: 10vh;
          z-index: 1;
          background-color: rgba(250, 90, 115, .6);
          color: white;
        }

        .review-box {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
        }

        .review-single {
          height: 20vh;
          width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
        }

        .review-text {
          height: 100%;
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          background-color: rgba(35, 35, 35, .5);
          color: white;
        }

              .review-single img {
                width: 20%;
              }

              .review-single h3 {
                display: block;
                height: 6vh;
                width: 95%;
                margin: 0 0 0 5%;
              }

              .review-single p {
                display: block;
                width: 90%;
                margin: 0 5% 0 5%;
              }

        #palin {
          height: 95vh;
          width: 100%;
          background-image: url('./public/palin_large.jpg');
          background-size: 100%;
        }

        #spitfire {
          height: 65vh;
          width: 100%;
          background-image: url('./public/spitfire.jpg');
          background-size: 100%;
          justify-content: flex-end;
        }

        #queenie {
          height: 75vh;
          width: 100%;
          background-image: url('./public/wild_party.jpg');
          background-size: 100%;
        }

/*        #godspell {
          height: 40vh;
          width: 100%;
          background-image: url('./public/godspell.jpg');
          background-size: 100%;
          justify-content: flex-end;
        }

        #fanny {
          height: 40vh;
          width: 100%;
          background-image: url('./public/jazz_1.jpg');
          background-size: 100%;
        }

        #blaire {
          height: 30vh;
          width: 100%;
          background-image: url('./public/lawnchair.jpg');
          background-size: 100%;
          justify-content: flex-end;
        }*/



.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(35, 35, 35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

        .icons {
          height: 10vh;
          width: 30%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 5%;
        }

        .icons img {
          height: 60%;
        }
